# OSX
.DS_Store

# library
mgim/
mglibs/
mgim-android/
library/

# android generated

# eclipse
.classpath
.settings
.project

local.properties
project.properties

# IDEA
.idea/
*.iml
out/

# gradle
build/
.gradle/

binlocal.gradle
bintray.gradle

# build
lint.xml
lint.html

# test
test.html
